
/APIJavaAutomationFramework/.settings
/APIJavaAutomationFramework/test-output
/APIJavaAutomationFramework/logs
APIJavaAutomationFramework/.classpath
/APIJavaAutomationFramework/target
APIJavaAutomationFramework/.classpath
APIJavaAutomationFramework/.classpath
